upstream webapp {
    {% for server in application_servers %}
    server {{ server }}:{{ hostvars[server].cindy_webapp_uwsgi_port }};
    {% endfor %}
}

server {
	listen 80;
	server_name {{ inventory_hostname }};
    	return 302 https://$host$request_uri;
}


server {

	listen 443 ssl;
	server_name {{ inventory_hostname }};

	include {{ nginx_snippet_ssl_certificates_path }};
    	include {{ nginx_snippet_ssl_params_path }};

	root {{ nginx_webroot_path }};

	location {{ cindy_app_static_url }} {
                alias   {{ cindy_app_static_root_path }};
                autoindex on;
                expires max;
        }

        location {{ cindy_app_root_url }} {
                include uwsgi_params;
                uwsgi_pass webapp;

                uwsgi_param Host $host;
                uwsgi_param X-Real-IP $remote_addr;
                uwsgi_param X-Forwarded-For $proxy_add_x_forwarded_for;
                uwsgi_param X-Forwarded-Proto $http_x_forwarded_proto;
        }

}
