[Unit]
Description=Cindy Celery Worker
After=network.target

[Service]
Type=simple
User={{ cindy_app_username }}
Group={{ cindy_app_username }}
EnvironmentFile={{ cindy_app_service_environment_file_path }}
WorkingDirectory={{ cindy_app_user_home_folder_path }}
ExecStart={{ cindy_app_virtualenv_folder_path }}/bin/celery worker -A {{ cindy_application_name }} -l {{ cindy_worker_log_level }}
ExecStop={{ cindy_app_virtualenv_folder_path }}/bin/celery control shutdown
ExecReload={{ cindy_app_virtualenv_folder_path }}/bin/celery multi restart celery
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
