# DATABASE
CINDY_DATABASE_ENGINE="django.db.backends.postgresql"
CINDY_DATABASE_HOST="{{ cindy_database_host | default('localhost') }}"
CINDY_DATABASE_NAME="{{ cindy_database_name }}"
CINDY_DATABASE_USER="{{ cindy_database_username }}"
CINDY_DATABASE_PASSWORD="{{ cindy_database_password }}"

# MESSAGE_BROKER
CINDY_BROKER_URL="{{ cindy_broker_url }}"
CINDY_BROKER_USE_SSL="{{ 1 if cindy_broker_use_ssl else 0 }}"


# Application file location
CINDY_STATIC_ROOT="{{ cindy_app_static_root_path }}"
CINDY_SITE_LOG_FILE="{{ cindy_app_log_path }}"


# Email
CINDY_EMAIL_MAILER_ADDRESS="{{ cindy_app_emailer_address }}"
CINDY_EMAIL_BACKEND="{{ cindy_app_email_backend }}"
CINDY_EMAIL_HOST="{{ cindy_app_smtp_host|default('localhost') }}"
CINDY_EMAIL_PORT="{{ cindy_app_smtp_port|default(465) }}"
CINDY_EMAIL_SMTP_USERNAME="{{ cindy_app_smtp_username|default() }}"
CINDY_EMAIL_SMTP_PASSWORD="{{ cindy_app_smtp_password|default() }}"


# UWSGI
UWSGI_SOCKET="{{ cindy_app_uwsgi_host|default('127.0.0.1') }}:{{ cindy_app_uwsgi_port|default(3031) }}"
UWSGI_MASTER="{{ cindy_app_uwsgi_total_master_nodes|default(1) }}"
UWSGI_WORKERS="{{ cindy_app_uwsgi_total_worker_processes|default(4) }}"


# DJANGO WEB APP
CINDY_SECRET_KEY="{{ cindy_app_secret_key }}"
DJANGO_SETTINGS_MODULE="cindy_project.settings"

{% if cindy_app_development|default(false) %}
CINDY_NODEBUG=1
{% endif %}
