[Unit]
Description=Cindy Web Application Service
After=syslog.target

[Service]
User={{ cindy_app_username }}
Group=www-data
ExecStart={{ cindy_app_virtualenv_folder_path }}/bin/uwsgi --ini {{ cindy_webapp_uwsgi_config_file_path }}
Restart=always
KillSignal={{ 'SIGTERM' if uwsgi_systemd_die_on_term else 'SIGQUIT' }}
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target