{% extends "web/base.tmpl.html" %}
{% block main_contents %}
<h2>My Links</h2>
<div class="row">
  {% for userlink in object_list %}
  <div class="col m4 s12">
    <div class="card small link">
      <div class="card-content">
        <a href="{% url 'read-link' userlink.link.id %}">{{ userlink.link.title }}</a>
      </div>
      <div class="card-action valign-wrapper">
        {% if userlink.link.site.favicon %}
        <img class="site-favicon" src="{{ userlink.link.site.favicon.url }}" />
        {% endif %}
        <a href="{{ userlink.link.url }}" target="_blank">View Original</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
